
body {
  position: relative;
  margin: 0 auto;
  border: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 13px;
}


.header-container {
  position: fixed;
  background-color: #eee;
  width: 100%; top: 0; left: 0;
  border-bottom: solid 2px #ddd;
}

.header {
  width: 1120px;
  margin: 0 auto;
  height: 72px;
  box-sizing: border-box;
}

.main {
  width: 90%; max-width: 1120px;
  margin: 109px auto 36px auto;
  box-sizing: border-box;
}

textarea {
  width: 99%; max-width: 99%; min-width: 99%;
  min-height: 10vh; height: 50vh;
  margin: 0 0 8px 0;
  border: solid 1px #666;
  padding: 2px 1px;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.25;
}

button {
  margin: 12px 0;
  border: 0;
  padding: 8px;
  background-color: #66af63;
  color: #000;
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  border-right: solid 2px #448d41; border-bottom: solid 2px #448d41;
}

button:hover {
  background-color: #53c44f;
}

.copy {
  background-color: #6366af;
}

button.copy:hover {
  background-color: #534fc4;
}

#autocopylabel.done:after {
  padding-left: .25rem;
  font-weight: bold; font-size: 1.25rem;
  color: #393;
  content: "✓";
}

.markItUpHeader, .markItUpFooter { display: none; }



.cheatsheet, .controls {
  float: left;
  width: 49.75%;
  box-sizing: border-box;
}

.cheatsheet { padding: 0 12px 0 0; }
.controls { padding: 0 0 0 12px; }


table {
  width: 100%;
  margin: 12px 0 48px 0;
}

table, th, td {
  border: solid 1px #666;
  border-collapse: collapse;
  padding: 2px 4px;
} 

.col1 { width: 15%; }
.col2 { width: 50%; }
.col3 { width: 35%; }


.cheatsheet code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}